doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        if (article && article.seoKeywords)
            meta(name="keywords" content='#{article.seoKeywords}')
        if (article && article.seoDescription)
            meta(name="description" content='#{article.seoDescription}')
        link(rel='icon', href = '/images/favicon.jpg')
        link(rel='stylesheet', href='/bootcss/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/jquery-1.11.1.min.js')
        script(src='/bootcss/js/bootstrap.min.js')
        script(src='/js/myjs.js')
        script.
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?302d25f31fb276d2437c5b400f0eeb9a";
                var s = document.getElementsByTagName("script")[0]; 
                s.parentNode.insertBefore(hm, s);
            })();
        block cssjs
    body
        div.container
            div.blog-header-title.row
                //h2= config.blogName
                //p= config.motto
            ul(class="blog-header-nav row")
                li
                    a(href="/") 首页
                li
                    a(href="/collect") 文集
                if isMe
                    li
                        a(href='/admin' title="管理页")
                            span.glyphicon.glyphicon-user
        div.container
            block content
        footer.footer
            div.container
                div.row
                    div.col-sm-6
                        h3 关于我
                        a(href='#{config.otherBlog.url}' target="_blank")= config.otherBlog.name
                        p= config.email.replace('@', '[at]').replace('.', '[dot]')
                    div.col-sm-6
                        h3 友情连接
                        each val in config.friendlyLinks
                            span.footer-col
                                a(href='#{val.url}' target="_blank")= val.name
                div.row.text-center
                    a(href='http://www.miibeian.gov.cn/' target="_blank")= config.ICPNumber


